LEADERBOARD_API_URL=https://apis.goated.com/user/affiliate/referral-leaderboard/X1XX5AY
LEADERBOARD_TITLE=Trivolution Leaderboard
STARTS_AT=2026-06-01T00:00:00Z
ENDS_AT=2026-06-30T23:59:59Z
KICK_URL=https://www.goated.com/?r=TRIVO
